.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 0 96px 0 ;
}

.header-logo {
    width: 148px;
    height: 105px;

}

.header-menu {
    display: flex;
    gap: 33px;
    padding: 0 0 8px 50px;

}

.header__links-list-item {
    list-style: circle;
    padding-top: 3px;
}

.header__links-list-item_no-bullit {
    list-style: none;
    padding-top: 3px;
}

.header__links-list {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
}

.address {
    font-style: normal;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    justify-self: end;
    padding: 0 86px 7px 0;
}

.link-active {
    text-decoration: none;
}
    
/* Все что выше, стили шапки*/

.cover {
    position: relative;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.5);
    z-index: 0;
}

.aligned-text {
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 30px;
    padding: 0 0 0 50px;
    position: relative;
    top: 1px;
}

.aligned-text-center {
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 152px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 30px;
    display: block;
    text-align: center;
    margin-left: 0.3em; /*  по рекомендации ревьюера было right - 0.3em но так, файл расширялся и была ошибка по тесту, сделал наоборот*/
    margin-bottom: 10px;
    position: relative;
}

.aligned-text-right {
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 30px;
    display: block;
    margin-right: 0.2em;
    text-align: end;
    position: relative;
}

.cover-title {
    padding-top: 163px;
}

.cover-description-text {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    word-spacing: 19px;
    z-index: 2;
}

.description {
    padding: 105px 0 30px 50px;
    display: flex;
}

.bet-button {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 450;
    line-height: 0;
    text-transform: uppercase;
    background: transparent;
    color: white;
    z-index: 2;
    border-style: solid ;
    border-color: white;
    border-width: 1px;
    padding: 25px 32px 25px 31px;
    margin: 10px 0 15px 103px;
}  /*все что выше, стили баннера*/

.lots-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46,96px;
    text-transform: uppercase;
    padding: 182px 0 0 64px;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;
    padding: 27px 0 0 25px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 334px;
    height: 596px;
    position: relative;
    gap: 34px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.card-title {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: 26.4px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 48px 40px 0 40px;
    position: relative;
    z-index: 1;
    text-decoration: underline;
}

.card-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    padding: 35px 40px 48px 40px;
    z-index: 1;
    align-self: flex-end;
    position: relative;
}

.card-text-1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    padding: 277px 40px 0px 40px;
    z-index: 1;
    align-self: flex-end;
    position: relative;
}

.card-text-3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    padding: 130px 40px 48px 40px;
    z-index: 1;
    align-self: flex-end;
    position: relative;
}

.lots__look-more-link {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 83px;
    padding: 30px 0 0 65px;
}

.card-link {
    text-decoration: none;
 }
    /*все что выше стили лотов*/ 

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding-top: 125px;
    grid-template-areas: 
    'about-logo about-title'
    'about-logo about-text';
}

.about-logo {
    display: flex;
    margin: auto;
    width: 148px;
    height: 114px;
    margin-top: 65px;
}

.circle {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    margin-left: 71px;
}

.about-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 720px;
    padding: 24px 0 0 49px;
}

.about-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
    padding: 102px 0 75px 48px;
}

/* все что выше about*/

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 180px;
    padding-bottom: 82px;
}

.footer-menu {
    font-family: "Raleway", sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
}

.footer-menu-list {
    list-style: none;
    text-align: center;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 48px;
    justify-content: center;
    padding-left: 25px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__menu-link_active {
    text-decoration: none;
}
/* все что выше стили подвала*/
