.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 0 96px 0 ;
}
.header-logo {
    width: 148px;
    height: 105px;

}
.header-menu {
    display: flex;
    gap: 33px;
    padding: 0 0 8px 50px;

    
}
.header__links-list-item {
    list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__links-list {
    font-family: raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 21,13px;
}
.address {
    font-style: normal;
    font-family: raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    justify-self: end;
    padding: 0 86px 7px 0;
    
}/* Все что выше, стили шапки*/

.cover {
    position: relative;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.5);
    z-index: -1;
    
}
.aligned-text {
    font-family: raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 30px;
    padding: 0px 0 0 50px;
    top: 160px;

}
.aligned-text-center {
    font-family: raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 152px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 30px;
    padding: 0px 0 0 380px;


}
.aligned-text-right {
    font-family: raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    color: white;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 30px;
    padding: 0 0 0 664px;


}
.cover-title {
    padding-top: 163px;
}
.cover-description-text {
    font-family: raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 70px;
    color: white;
    text-transform: uppercase;
    word-spacing: 19px;

}
.description {
    padding: 95px 0 40px 50px;
    display: flex;
}
.bet-button {
    
    font-family: raleway;
    font-size: 22px;
    font-weight: 450;
    line-height: 0;
    text-transform: uppercase;
    background: transparent;
    color: white;
    z-index: 2;
    border-style: solid ;
    border-color: white;
    border-width: 1px;
    padding: 25px 32px 25px 31px;
    margin: 10px 0 15px 103px;

} /*все что выше, стили баннера*/
.lots-heading {
    font-family: raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 46,96px;
    text-transform: uppercase;
    padding: 173px 0 0 64px;

}
.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    z-index: -2;
   

}
.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    

}
.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
  

}
.lots__card-list {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 25px 0 0 25px;
    
    
    
}
.card {
    display: flex;
    flex-direction: column;
    width: 334px;
    height: 100%;
    position: relative;
    gap: 34px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
    
    
    
} 
.card-title {
    
    font-family: raleway;
    font-size: 22px;
    line-height: 26.4px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 48px 40px 0 40px;
    z-index: 1;
    
}
.card-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    padding: 0px 40px 48px 40px;
    z-index: 1;
    align-self: flex-end;
}
.card-text-1 { 
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    padding: 242px 40px 48px 40px;
    z-index: 1;
    align-self: flex-end;
}
.card-text-3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    padding: 96px 40px 48px 40px;
    z-index: 1;
    align-self: flex-end;
}
.lots__look-more-link {
    text-decoration: none;
    font-family: raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23,48px;
    padding: 30px 0 0 65px;
    
}/*все что выше стили лотов*/ 
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding-top: 155px;
    grid-template-areas: 
    'about-logo about-title'
    'about-logo about-text'
    ;
    grid-template-rows: 283px 283px;


}
.about-logo {
    display: flex;
    margin: auto;
    width: 148px;
    height: 114px;
    margin-top: 65px;

}
.circle {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    margin-left: 71px;
    
}
.about-text {
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 730px;
    padding: 100px 0 0 50px;
    margin-bottom: 24px;

}
.about-title {
    font-family: raleway;
    font-weight: 700;
    font-size: 40px;
    line-height: 46,96px;
    text-transform: uppercase;
    grid-template-rows: 283px;
    padding: 103px 0 0 48px;

}
.about-text-two {
    font-family: raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 740px;
    padding: 0px 0 0 50px;
} /* все что выше about*/

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 176px;


}
.footer-menu {
    font-family: raleway;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
    
}
.footer-menu-list {
    list-style: none;
    text-align: center;
    
}
.footer__social-list {
    list-style: none;
    display: flex;
    gap: 48px;
    justify-content: center;
    padding-left: 25px;

}
.footer__social-icon {
    width: 48px;
    height: 48px;
}
.footer__menu-link_active {
    text-decoration: none;
}
/* все что выше стили подвала*/
